.imagen {
    width: 100%;
    height: auto;
  }
  

  .createNewFamily__saveCancelBtn {
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter";
    color: #fffdfd;
  
    width: 160px;
    height: 45px;
    top: 731px;
    left: 183px;
    border-radius: 20px;
    border: none;
  
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  
  .createNewFamily__save {
    background-color: #fb9825;
  }

  .image_wrapper{
    display: flex;
    justify-content: center;
  }