
.Menu__div {
  text-align: center;
  padding: 5px;
}

.Menu__items {
  margin-left: 20px;
  margin-right: 20px;
}

.Bar__bottom {
  position: fixed;
  width: 100%;
  background: #FB9825;
  bottom: 0;
}