.familyItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;

    
    &__img{
        border-radius: 10px;
        
        width: 140px;
        height: 140px;
        object-fit: cover; 
        max-width: 100%; /* Evita que la imagen sea más ancha que su contenedor */
        max-height: 100%; /* Evita que la imagen sea más alta que su contenedor */
    }
    &__name{
        font-family:'Happy_Monkey';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 10px;
    }

    &__new{
        background-color: #FB9825;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }

    
}