@font-face {
    font-family:'Indie_Flower';
    src: url('../../assets/fonts/IndieFlower-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family:'Inter';
    src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container > :nth-child(3) {
  margin-bottom: auto;
}

.logo{
    margin-top: 3vh;

    &__title{
       font-family:'Indie_Flower';
       font-size: 40px;
       margin-top: -30px;
       margin-bottom: 0;
    }

    &__slogan{
        font-family:'Indie_Flower';
        margin-top: -10px;
    }
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin-bottom: 35vh;
    &__register{
        font-family:'Inter';
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0;

    }

    &__link{
        font-family:'Inter';
        font-size: 13px;
        margin-top: 10px;
        margin-bottom: 0;
        color: #3c3d05ad;
        text-decoration: none;
        font-style: bold;
    }
}

.formOptions{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



// .react-modal-sheet-backdrop {
//   /* custom styles */
// }
// .react-modal-sheet-container {
//   /* custom styles */
// //   background:rgba(155, 197, 66) !important
// }
// .react-modal-sheet-header {
//   /* custom styles */
// }
// .react-modal-sheet-drag-indicator {
//   /* custom styles */
// }
.react-modal-sheet-content {
  /* custom styles */
  margin-left: 10px;
  margin-right: 10px;
}