.menuTitle {
  font-family: "Happy_Monkey";
}

.moreBtn {
  background: transparent;
  border: none;
  color: gray;
}

.imgFamily__Drawer {
  margin-right: 5px;
  margin-left: 5px;
}
.btnFamily__Drawer {
    padding: 0;
    background: none;
    border: none;
    width: 100%;
}

.labelDrawer {
    color: white;
}