.babyDetails__btn {
  background: transparent;
  border: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.babyDetails__cronologia {
  font-family: "Inter";
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.babyDetails__action {
  margin-top: 8px;
  padding-left: 1rem;
  z-index: 10;
}

.babyDetails__actionText {
  margin-top: 12px;
  margin-left: 8px;
  margin-bottom: 0px;
}

.babyDetails_dateAction {
  margin-top: 5px;
  margin-left: 16px;
  margin-bottom: 10px;
}

.babyDetails__srcNote {
  width: 180px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 1rem;
}

.babyDetails__srcContent {
  text-align: center;
}

.babyDetails__separador {
  margin-bottom: 2rem;
  margin-top: 2rem;
  border: none;
}


.babyDetails__btnCloseModal {
  margin-top: 0;
  text-align: end;
  background: transparent;
  border: none
}

.babyDeatils_contentCloseBtn {
  display: flex;
  justify-content: end;
  width: 100%;
}

.babyDetails__iconAction {
  text-align: center;
}