html,
body {
  height: 100%;
  margin: 0;
}

.newFamily__title {
  font-family: "Happy_Monkey";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.newFamily__previousBtn {
  position: absolute;
  background: transparent;
  border: none;
  margin-left: 1rem;
  cursor: pointer;
}

.newFamily__textCard {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  margin: auto;
}

.newFamily__container {
  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
}

.NewFamily__btnDefault {
  width: 100%;
  background: none;
  border: none;
}

.NewFamily__inputUnirse {
  text-align: center;
  border: 1px solid #c4c74a;
  margin-left: 2rem;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }
